<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VuelveteCachimboiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA907A3B1C7E6A7B004B28DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA907A521C7E6A7B004B28DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA907A5D1C7E6A7B004B28DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
